.service-container.css-1oqqzyl-MuiContainer-root
{
    padding:75px 45px;
}
.service-title
{
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 14px;
    color:black;
    display: flex;
    justify-content: center;
}
.service-desc
{
    font-size: 14px;
    font-weight: 400;
    color:#6d6969;
    line-height: 23px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    max-width: 380px;
    width:100%;

}
.service-cards
{
    display: flex;
    justify-content: space-between;
    gap:15px;
}
.align-text
{
    display: flex;
    justify-content: center;
}
